$siteWidth: 1024px;
$tabletWidth: 900px;
$mobileWidth: 768px;

$headerHeight: 72px;
$buttonHeight: 48px;

$borderRadius: 8px;
$mainVideoRadius: 16px;
$spacing4: 4px;


$white: #fff;
$bgContainer: #fbfdff;
$grey: #707a83;
$borderWhite: rgb(229, 232, 235);
$borderBlue: #15b2e5;
$red: #ff0000;


$spacing6: 6px;
$spacing8: 8px;
$spacing12: 12px;
$spacing16: 16px;
$spacing24: 24px;
$spacing32: 32px;

$borderRadius4: 4px;
$borderRadius16: 16px;

$font8: 8px;
$font12: 12px;
$font16: 16px;
$font18: 18px;
$font24: 24px;
$font36: 36px;

$black: #1B1B1F;
$black_161D2F: #161D2F;
$black_343a3f: #343a3f;

$bg_blue: #ECF6FF;
$divider: #eeeeee;

$grey_c4c4c4: #c4c4c4;
$grey_A3A9B6: #A3A9B6;
$grey_f8f8f8: #f8f8f8;
$grey_8B9196: #8B9196;
$grey_888888: #888888;
$grey_51585E: #51585E;
$grey_placeholder: #B8B8B8;

$red_ffeeee: #ffeeee;
$red_F3C6C6: #F3C6C6;

$blue_F0F8FF: #F0F8FF;
$blue_B6D1E9: #B6D1E9;
